main {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px;
    margin: 0;

}

.booking-resource-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 32px;
    background-color: #fff;

    img {
        width: 100%;
        max-height: 200px;
        margin-bottom: 8px;
        object-fit: cover;
    }

    .resource-name {
        font-weight: 500;
    }

    .description {
        font-size: 14px;
        color: var(--seconddary-text-color);
    }

    .timeslot {
        font-weight: 700;
    }


}

.booking-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

.booking-card {

    display: flex;
    flex-direction: column;
    gap: 12px;

    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    background-color: #fff;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .user-block {
        display: flex;
        gap: 12px;
    }

    .date {
        font-weight: 700;
        font-size: 20px;
    }

    .time {
        font-weight: 700;
        color: var(--seconddary-text-color);

    }

    .user-name {
        font-weight: 600;
        color: var(--seconddary-text-color);

    }

    .purpose {
        color: #B3B3B3;
    }

    .buttons{
        text-align: right;
    }

    button {
        cursor: pointer;
        border-radius: 8px;
        border: none;
        padding: 8px;
        background-color: var(--secondary-accent-color);
    }

}