/*EVENT PAGE*/

.main_page{
    display: flex;
    align-items: stretch;
    justify-content: center ;

}

.event_page{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    justify-content: center ;
    width: 700px;
}

.error_page{
    text-align:center;
    margin-left: 300px;    
    margin-right: 300px; 
    padding: 20px;
    border: 1px solid #ac0000;
    color:rgb(90, 0, 15);
    border-radius: 10px;
    background-color: #ff8d8d;
    margin-top: 100px;
    margin-bottom: 100px;

}


.form_label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.dropdown_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.text_input {
    width: 100%;
    max-width: 700px;        
    padding: 12px 16px;       
    font-size: 16px;
    font-family: inherit;
    color: #000;

    background-color: #fff;
    border: 1px solid #cfcfcf; 
    border-radius: 6px;        
    outline: none;             
    box-sizing: border-box;
}

.text_input::placeholder {
    color: #9b9b9b;            
    font-weight: 400;
}

.text_input:focus {
    border-color: #7a0014;     
    box-shadow: 0 0 0 2px rgba(122, 0, 20, 0.15);
}

.form_label {
    display: block;
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
}

.calendar
{
    margin-bottom: 6px;
}

.dropdown_input {
    width: 100%;
    max-width: 80px;
    padding: 12px 16px;
    font-size: 16px;
    font-family: inherit;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 12px 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown_input:focus {
    outline: none;
    border-color: #7a0014; 
    box-shadow: 0 0 0 2px rgba(122, 0, 20, 0.15);
}

.event_image{
    flex: 0 0 400px;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0;
}

.event_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event_info{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
}

.event_location{
    font-size: large;
}

.event_text{
    font-size:90%;
    color: #9b9b9b;
}

.event_availability{
    height: 2--0px;
    border-radius: 12px;
}

.available{
    border: 5px solid rgb(185, 252, 185);
    color: #005b15;
    width: 80px;
    background-color: rgb(185, 252, 185);}

.unavailable{
    border: 5px solid rgb(252, 185, 185);
    color: #5b0000;
    width: 100px;
    background-color: rgb(252, 185, 185);}


.book_reservation{
    background-color: rgb(123, 28, 44);
    height: 40px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    border: 5px solid rgb(123, 28, 44);
    color: #e6e6e6;
    border-radius: 8px;
}

.book_reservation:hover{
    background-color: rgb(224, 56, 84);
    border: 5px solid rgb(224, 56, 84);
}