/* BOOKINGS MAIN */
.main{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-right: 32px;    
    margin-left: 32px;     
    margin-bottom: 30px;
    margin-left: 30px;
}

/* CARDS */
.titles{
    margin-left: 400px;    
    margin-right: 400px; 
    margin-top: 20px;   
}

.body{
    margin: 90px;
    
}

.card_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 20px;
    list-style: none;
}

.card{
    margin-left: 400px;    
    margin-right: 400px;   
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
}

.card_image{
    flex: 0 0 140px;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0;
}

.card_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex: 1 1 auto;
    min-width: 0;
}

.card_title{
    font-size:large;
    margin-top: 0;
    font-weight:600;
}

.card_meta{
    margin: 0;
    color: lightslategray;
    font-size: 90%;
}

.card_text{
    min-width: 0;
    font-size:90%;
    font-weight:500;
}

.card_buttons{
    margin:0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.card_button{
    background-color: pink;
    border: 5px solid #ffc0cb;
    border-radius: 8px;
}

.card_button:hover{
    background-color: rgb(255, 218, 223);
    border: 5px solid rgb(255, 218, 223);

}

.main_title{
    font-size:large;
    margin: 0;
    font-weight:600;
}

.sub_title{
    margin: 0;
    color: lightslategray;
    font-size: 90%;
}